@import url("https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Philosopher", sans-serif;
}

.bruma {
  color: #4b6858;
}

/* HEADER ICONS */
.icons-header {
  margin-bottom: 8px;
  padding: 0 15px;
  font-size: 30px;
  position: relative;
  cursor: pointer;
  transition: color 0.3s ease;
  color: #4b6858;
}

.icons-header::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #e7dac8;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.icons-header:hover::after,
.icons-header.active-icon::after {
  transform: scaleX(1);
}

.a-icon {
  color: white;
}

/* HEADER */
.header {
  background: #f3eacc;
  color: white;
  height: 65px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  top: 0;
  transition: background 0.4s ease;
}

.shop-icon {
  color: #fa9f42;
}

/* BOOTSTRAP COLOR OVERRIDE */
.bg-success {
  background-color: #5c4531 !important;
}

/* HOME IMAGES */
.home-images {
  margin-top: 1px;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  box-shadow: 0 8px 20px rgba(31, 16, 8, 1);
  border-radius: 1px;
  object-position: 0 35%;
}

/* IMAGE SLIDER */
.image-slider {
  height: 90vh;
  position: relative;
  overflow: hidden;
}

.home-images {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: scale(1.05);
  transition: opacity 1.5s ease-in-out, transform 5s ease-in-out;
  filter: brightness(0.9) contrast(1.05) saturate(0.95);
  border-radius: 8px;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.5);
}

.home-images.active {
  opacity: 1;
  transform: scale(1);
  z-index: 1;
}


/* SEARCH BAR */
.search-bar-minimal {
  position: relative;
  padding-bottom: 2px;
  padding-right: 30px;
}

.minimal-input {
  border: none;
  outline: none;
  background: transparent;
  color: #e7dac8;
  margin-left: 8px;
  margin-top: 10px;
  font-size: 14px;
  width: 120px;
  border-bottom: 1.5px solid #e7dac8;
  transition: border-color 0.3s ease;
}

.minimal-input::placeholder {
  color: #e7dac8b6;
  font-size: 14px;
}

.minimal-input:focus {
  border-bottom: 1.5px solid white;
}

/* TEXT BEFORE CARDS*/

.text {
  width: 100%;
  height: 100%;
  padding: 20px;
  color: #903c20;
  font-family: "Philosopher", sans-serif;
}

/* CARDS */
.cards-container {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

/* Imagen dentro de tarjeta */
.product-card {
  width: 100%;
  max-width: 260px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  padding: 15px;
  display: flex;
  flex-direction: column;
  color: rgb(27, 27, 27);
}

.card-img-top {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}
.product-card:hover {
  transform: scale(1.02);
}

.card-title {
  font-size: 18px;
  text-align: center;
}

.card-text {
  font-size: 14px;
  text-align: center;
  color: #4a3d32;
}

.boton {
  background-color: #fa9f42;
}

.boton:hover {
  background-color: #f37d06;
}

/* FOOTER */

.fext-footer {
  color: #4b6858;
}
.div-footer {
  background: hsl(46, 62%, 88%);
  color: #4b6858;
  height: 80px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  top: 0;
  transition: background 0.4s ease;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .minimal-input {
    width: 100px;
  }

  .cards-container {
    gap: 12px;
  }

  .product-card {
    flex: 1 1 100%;
  }
}
