/* HEADER DESIGN / START */

@import url('https://fonts.cdnfonts.com/css/konstant-grotesk');

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #f5f2e5;
  color: white;
  width: 1920px;
  height: 108px;
}

.text-header {
color: #4b6858;
font-family: 'Konstant Grotesk', sans-serif;
font-size: 20px;
padding-left: 12px;
}

.cup {
    
}